<body>
    <header>
      <div>
        <h1>Calendário</h1>
      </div>
      <button (click)="openNovoEventoModal()">Novo evento</button>
    </header>
  
    <section>
      <h2>Mês {{ currentMonth }}</h2>
      <table>
        <thead>
          <tr>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of calendarDays">
            <td *ngFor="let day of week">
              <div *ngIf="day.date !== 0">
                {{ day.date }}
                <div class="evento-wrapper" *ngFor="let event of day.events" (click)="openVisualizarEventoModal(event)"> 
                  <span >{{ event.titulo }} - {{ event.horaInicio }}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button (click)="previousMonth()"><</button>
        <button (click)="nextMonth()">></button>
      </div>
    </section>
  </body>