<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Demanda(s)</th>
            <th>Status geral</th>
            <th>Data do cadastro</th>
        </tr>

        <tr *ngFor="let acolhimento of this.acolhimentos">
            <td>{{acolhimento.nome}}</td>
            <td>
               <div *ngFor="let demanda of acolhimento.demandas">{{demanda}}</div> 
            </td>
            <td>{{acolhimento.status}}</td>
            <td>{{acolhimento.criadoEm}}</td>
        </tr>        
    </table>
</body>