<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Demanda(s)</th>
            <th>Status geral</th>
            <th>Data do cadastro</th>
        </tr> 

        <tr class="data-row" *ngFor="let acolhimento of this.acolhimentos" (click)="this.openFicha(acolhimento.id!)">
            <td>{{acolhimento.nome}}</td>
            <td>
               <div *ngFor="let demanda of acolhimento.demandas">{{demanda}}</div> 
            </td>
            <td>{{acolhimento.status}}</td>
            <p>{{ this.dateService.formatDate(acolhimento.criadoEm!) }}</p>
        </tr>        
    </table>
</body>