<body>
    <header>
        <div id="nav-back">
          <div id="nav-back-icon"></div>
          <a routerLink="/base-de-dados" routerLinkActive="active">Base de dados</a>
        </div>

        <div id="info">
            <h1>{{this.acolhimento?.nome}}</h1>
            <div *ngFor="let demanda of this.acolhimento?.demandas">
                <span>{{demanda}}</span>
            </div>
        </div>

        <div id="editar-cadastro">
            <button>Editar cadastro</button>
        </div>
    </header> 

    <nav>
        <ul>
            <li><a routerLink="cadastro" routerLinkActive="active">Cadastro</a></li>
            <li *ngFor="let demanda of this.acolhimento?.demandas"><a (click)="openDemanda(demanda)">{{demanda}}</a></li>
            <li><a routerLink="anexos" routerLinkActive="active">Anexos</a></li>
        </ul>

        <span id="incompleto-aviso" *ngIf="this.isComplete">Cadastro incompleto</span>
    </nav>

    <section>
        <router-outlet></router-outlet>
    </section>
</body>