<body>
    <header>
        <div id="nav-back">
          <div id="nav-back-icon"></div>
          <a routerLink="/base-de-dados" routerLinkActive="active">Base de dados</a>
        </div>

        <div id="info">
            <h1>{{this.acolhimento?.nome}}</h1>
            <div *ngFor="let demanda of this.acolhimento?.demandas">
                <span>{{demanda}}</span>
            </div>
        </div>

        <div id="editar-cadastro">
            <button>Editar cadastro</button>
        </div>
    </header> 

    <nav>
        <ul>
            <li><a (click)="openCadastro()">Cadastro</a></li>
            <li *ngFor="let demanda of this.acolhimento?.demandas"><a (click)="openDemanda(demanda)">{{demanda}}</a></li>
            <li><a (click)="openAnexos()">Anexos</a></li>
        </ul>

        <span id="incompleto-aviso" *ngIf="this.isComplete">Cadastro incompleto</span>
    </nav>

    <section>
        <app-cadastro #cadastro *ngIf="isCadastroActive"></app-cadastro>
        <app-ficha-demanda #fichaDemanda *ngIf="isDemandaActive"></app-ficha-demanda>
        <app-anexos #anexos *ngIf="isAnexosActive"></app-anexos>
    </section>
</body>