<head></head>
<body>
  <header>
    <div id="logo"></div>
    <nav>
      <div class="main-nav-option">
        <a routerLink="/base-de-dados" routerLinkActive="active">Base de dados</a>
      </div>

      <div class="main-nav-option">
        <a routerLink="/calendario" routerLinkActive="active">Calendário</a>
      </div>
      <div class="main-nav-option">
        <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
      </div>
    </nav>
  </header>

  <section>
    <router-outlet></router-outlet>
  </section>
  
</body>