<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Status - Serviço social</th>
            <th>Data do cadastro</th>
            <th>Última atualização</th>
        </tr>

        <tr *ngFor="let acolhimento of this.acolhimentos">
            <td>{{acolhimento.nome}}</td>
            <td>{{acolhimento_demanda?.get(acolhimento.id!)?.status}}</td>
            <td>{{acolhimento_demanda?.get(acolhimento.id!)?.criadoEm}}</td>
            <td>{{acolhimento_demanda?.get(acolhimento.id!)?.atualizadoEm}}</td>
        </tr>        
    </table>
</body>