<body>
    <header>
        <div>
            <h1>Base de dados</h1>
            <button routerLink="/novo-cadastro" mat-flat-button>Criar cadastro</button>
        </div>

        <div>
            <input type="text" id="name" name="name" placeholder="Buscar por nome" [(ngModel)]="searchName" (ngModelChange)="updateSearch()">
        
            <select name="status" [(ngModel)]="searchStatus" (ngModelChange)="updateSearch()">
                <option value="">Todos os Status</option> 
                <option *ngFor="let status of acolhimentoStatus" [value]="status">{{status}}</option>
            </select>

            <select name="tipo_demanda" [(ngModel)]="searchDemanda" (ngModelChange)="updateSearch()">
                <option value="">Todas as Demandas</option>
                <option *ngFor="let demanda of acolhimentoDemandas" [value]="demanda">{{demanda}}</option>
            </select>
        </div>
    </header>

    <nav>
        <ul>
            <li><a routerLink="visao-geral">Visão geral</a></li>
            <li><a (click)="openPsicologiaTable()">Psicologia</a></li>
            <li><a (click)="openJuridicoTable()">Jurídico</a></li>
            <li><a (click)="openServicoSocialTable()">Assistência social</a></li>
            <li><a (click)="openAbrigamentosTable()">Abrigamentos</a></li>
        </ul>
    </nav>

    <section>
        <router-outlet></router-outlet>
    </section>
</body>