<body>
    <header>
        <h1>Base de dados</h1>
        <button mat-flat-button>Novo cadastro</button>
    </header>

    <nav>
        <input type="text" id="name" name="name" placeholder="Buscar por nome">
        
        <select name="status">
            <option value="1">Status</option>
            <option value="2">2</option>
        </select>

        <select name="tipo_demanda">
            <option value="1">Tipo de demanda</option>
            <option value="2">2</option>
        </select>
    </nav>
</body>