<hr>

<h3> Demandas </h3>

<div *ngIf="!isDemandaAssigned">
    <span>Demanda não atribuida</span><br>
    <button (click)='openAssignDemandaDialog()'>Atribuir demanda</button>
</div>

<div id="user-info" *ngIf="isDemandaAssigned" class="mt-3 col-md-8">
    <div class="card">
        <div class="card-header bg-light">
            Informações do Profissional Responsável
        </div>
        <div class="card-body">
            <p><strong>Profissional Responsável:</strong> {{ this.currentAcolhimentoDemanda.usuarioNome }}</p>
            <p><strong>Início do atendimento:</strong> {{ this.getInicioAtendimento() }}</p>
            <p><strong>Status:</strong> {{ this.currentAcolhimentoDemanda.status }}</p>
            <button class="btn btn-dark" (click)="openUpdateStatusDialog()">Atualizar status</button>
            <button class="btn btn-dark m-2 mb-0 mt-0" (click)="openNovoRegistroDialog()">+ Novo registro</button>
        </div>
    </div>
</div>

<div id="registros" *ngIf="isDemandaAssigned && currentAcolhimentoDemanda.atendimentos" class="mt-2 col-md-8">
    <div class="card">
        <div class="card-header bg-light">
            Registros de Atendimento
        </div>
            <div class="p-3">
                <a *ngFor="let atendimento of currentAcolhimentoDemanda.atendimentos"
                    (click)="openVisualizarRegistroDialog(atendimento)"
                    class="list-group-item list-group-item-action">
                    <p class="mb-1"><strong>Data do registro:</strong> {{ this.dateService.makeDisplayableDate(atendimento.data) }}</p>
                    <p class="mb-1"><strong>Registro:</strong> {{ atendimento.registro }}</p>
                </a>
            </div>
    </div>
</div>
