<body>
    <section>
        <div id="incomplete-warning" *ngIf="!isDemandaAssigned">
            <div id="warning-icon"></div>
            <span>Demanda não atribuída</span>
            <button (click)="openAssignDemandaDialog()">Atribuir demanda</button>
        </div> 

        <div id="user-info" *ngIf="isDemandaAssigned">
            <div id="name">
                <span>Profissional Responsável: </span>
                <span>{{this.currentAcolhimentoDemanda.usuarioNome}}</span>
            </div>

            <div id="begin-date">
                <span>Início do atendimento: </span>
                <span>{{this.getInicioAtendimento()}}</span>
            </div>

            <div id="status">
                <span>Status: </span>
                <span>{{this.currentAcolhimentoDemanda.status}}</span>
            </div>

            <div id="user-options">
                <button (click)="openUpdateStatusDialog()">Atualizar status</button>
                <button (click)="openNovoRegistroDialog()">+ Novo registro</button>
            </div>
        </div>

        <div id="registros" *ngIf="isDemandaAssigned && currentAcolhimentoDemanda.atendimentos">
            <div class="header">
                <span>Data do registro</span>
                <span>Registro</span>
            </div>

            <div class="registro" *ngFor="let atendimento of currentAcolhimentoDemanda.atendimentos">
                <span>{{ this.dateService.makeDisplayableDate(atendimento.data) }}</span>
                <span>{{ atendimento.registro }}</span>
            </div>
        </div>
    </section>
</body>